# Impute/Replace missing values

In [1]:
import pandas as pd
import numpy as np

In [2]:
print(f'pandas version: {pd.__version__}')
print(f'numpy version: {np.__version__}')

pandas version: 1.5.0
numpy version: 1.23.3

In [3]:
df=pd.read_csv('https://github.com/prasertcbs/tutorial/raw/master/msleep.csv')
df=df.sample(20, random_state=123)

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 20 entries, 69 to 81
Data columns (total 11 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   name          20 non-null     object
 1   genus         20 non-null     object
 2   vore          18 non-null     object
 3   order         20 non-null     object
 4   conservation  14 non-null     object
 5   sleep_total   20 non-null     float64
 6   sleep_rem     14 non-null     float64
 7   sleep_cycle   9 non-null      float64
 8   awake         20 non-null     float64
 9   brainwt       16 non-null     float64
 10  bodywt        20 non-null     float64
dtypes: float64(6), object(5)
memory usage: 1.9+ KB

### Check NA in 'vore' column

In [5]:
df[df.vore.isna()]

,name,genus,vore,order,conservation,sleep_total,sleep_rem,sleep_cycle,awake,brainwt,bodywt
62,Rock hyrax,Procavia,NaN,Hyracoidea,lc,5.4,0.5,NaN,18.6,0.02100,3.600
72,Musk shrew,Suncus,NaN,Soricomorpha,NaN,12.8,2.0,0.183333,11.2,0.00033,0.048

### scikit-learn: SimpleImputer

In [7]:
from sklearn.impute import SimpleImputer

In [8]:
imp = SimpleImputer(strategy='most_frequent')
imp.fit_transform(df[['vore']])

array([['herbi'],
       ['herbi'],
       ['herbi'],
       ['omni'],
       ['herbi'],
       ['herbi'],
       ['omni'],
       ['omni'],
       ['herbi'],
       ['carni'],
       ['carni'],
       ['carni'],
       ['herbi'],
       ['herbi'],
       ['carni'],
       ['herbi'],
       ['herbi'],
       ['omni'],
       ['herbi'],
       ['carni']], dtype=object)

In [9]:
df[['vore']]

     vore
69  herbi
75  herbi
4   herbi
78   omni
29  herbi
62    NaN
24   omni
37   omni
76  herbi
31  carni
8   carni
44  carni
9   herbi
71  herbi
59  carni
70  herbi
23  herbi
19   omni
72    NaN
81  carni

In [10]:
df['vore2']=imp.fit_transform(df[['vore']])
df[df.vore.isna()][['name','vore','vore2']]

          name vore  vore2
62  Rock hyrax  NaN  herbi
72  Musk shrew  NaN  herbi